@use 'colors' as *;

.Container {
  width: 90%;
  max-width: 500px;
  margin: auto;
  color: $semi-black;
  padding-bottom: 6rem;

  .CurrDate {
    margin: 16px 0;
    font-weight: 700;
  }

  .Items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
