@use 'styles/colors' as *;

.Header {
  width: 90%;
  max-width: 500px;
  margin: auto;
  padding: 16px 0;
  color: $semi-black;
  position: fixed;
  top: 0;
  background: white;
  left: 50%;
  transform: translateX(-50%);

  .Row {
    display: flex;
    align-items: center;

    .Location {
      display: flex;
      flex-direction: column;
      margin-left: 1.5rem;

      p {
        font-size: 0.75rem;
        color: $gray;
      }

      .LocationItem {
        display: flex;
        align-items: center;
        cursor: pointer;

        .ArrowDownIcon {
          color: $red;
          font-size: 2rem;
        }
      }
    }

    .Back {
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .Tab {
    margin-top: 16px;
    display: flex;
    align-items: center;
    height: 40px;
    border: 2px solid $light-gray;
    border-radius: 8px;
    overflow: hidden;

    .Item {
      flex: 1;
      text-align: center;
      background: white;
      color: $gray;
      font-weight: 500;
      height: 100%;
      line-height: 40px;
      cursor: pointer;

      &.Active {
        color: white;
        background: $semi-black;
      }
    }
  }
}
